.lpj,
.lpj * {
  box-sizing: border-box;
}
.lpj {
  align-items: center;
  justify-content: center;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}
.rectangle-7 {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
}

.sidebar {
  background: #1c53a5;
  border-radius: 0px 25px 25px 0px;
  width: 320px;
  height: 100%;
  position: absolute;
  inset: 0px;
  left: 0px;
  top: 0px;
  box-shadow: inset 0px 6px 6px 0px rgba(0, 0, 0, 0.25);
}

.dokumen {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.dokumen li {
  margin-bottom: 5px;
}

.dokumen a {
  display: block;
  color: #ffffff;
  font: 800 18px "Nunito", sans-serif;
  padding: 5px;
  text-decoration: none;
}

.dokumen a:hover {
  background-color: #FFFFFF60;
  border-radius: 10px;
}

.logout {
  width: 140px;
  height: 35px;
  position: static;
}
.logout2 {
  text-decoration: none;
  color: #ffffff;
  text-align: left;
  font: 750 18px "Nunito", sans-serif;
  position: absolute;
  left: 85px;
  top: 560px;
}
.logout-icon {
  position: absolute;
  height: 25px;
  width: 28px;
  left: 50px;
  top: 558px;
  overflow: visible;
}

.btnworkshop {
    position: absolute;
    top: 0px;
    right: 38px;
}

.peserta-workshop {
  text-align: left;
  position: relative;
  left: 50px;
  top: 250px;
  width: 250px;
}

.workshop {
  text-align: left;
  position: relative;
  left: 50px;
  top: 245px;
  width: 250px;
}

.list-menu {
    position: relative;
    left: 20px;
    width: 230px;
    border-radius: 10px;
}

.anggota2 {
  width: 111px;
  height: 35px;
  position: static;
}

.anggota {
  text-align: left;
  position: absolute;
  left: 50px;
  top: 200px;
  width: 250px;
}
.dashboard3 {
  width: 179px;
  height: 35px;
  position: static;
}

.dashboard2 {
  text-align: left;
  position: absolute;
  left: 50px;
  top: 160px;
  width: 250px;
}

.logo {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 100px;
  top: 40px;
}

.rectangle {
  background: #bad5fe;
  border-radius: 10px;
  position: absolute;
  width: 900px;
  height: 540px;
  left: 360px;
  top: 40px;
  box-shadow: 0px 4px 4px 0px rgba(112, 150, 248, 1);
}

.search {
  position: absolute;
  top: 14px;
  left: 640px;
}

.icon-search {
  position: absolute;
  left: 170px;
  top: 3px;
  height: 24px;
  width: 24px;
}

.input-search {
border-radius: 9px;
border-style: none;
background-color: rgba(124, 175, 252, 1);
box-sizing: border-box;
font: 700 20px/25px "Nunito", sans-serif;
color: #ffff;
height: 30px;
width: 200px;
}

.btn-search {

}

.card-containers {
  display: grid;
  position: absolute;
  left: 45px;
  padding-top: 70px;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
}

.rectangle-1 {
  background: #ffffff;
  border-radius: 10px;
  width: 250px;
  height: 120px;
  display: grid;
  justify-items: center;
  align-content: center;
}

.judul-workshop {
  color: rgba(16, 83, 169, 1);
  position: relative;
  text-align: center;
  font: 800 20px/25px "Nunito", sans-serif;
  text-decoration: none;
}

.judul-workshop:hover {
  background-color: #1053a9;
  padding: 5px;
  border-radius: 10px;
}

.btn {
position: absolute;
}

.btn-lpj {
    color: rgba(16, 83, 169, 1);
    text-align: center;
    position: relative;
    top: 43px;
    font-size: 12px;
    width: 83px;
    font-family: Nunito;
}

.previous {
    position: absolute;
    font: 800 25px/10px "Nunito", sans-serif;
    color: #1053a9;
    top: 550px;
    left: 820px;
    text-decoration: none;
}

.next {
    position:absolute;
    font: 800 25px/10px "Nunito", sans-serif;
    color: #1053a9;
    top: 550px;
    right: 25px;
    text-decoration: none;
}

.dokumen-lpj {
  color: #1053a9;
  text-align: left;
  font: 800 20px/25px "Nunito", sans-serif;
  position: absolute;
  left: 20px;
  top: 15px;
}


