<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@800"/>
    <link rel="stylesheet" href="https://api.fontshare.com/css?f[]=nunito@800&display=swap"/>
    <link type="text/css" href="/static/css/formWorkshop.css" rel="stylesheet"/>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <script type="text/javascript" src="/static/js/formWorkshop.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
    <title>Form Workshop</title>
</head>
<body>
<div class="form-workshop">
    <div class="rectangle-7"></div>

    <div class="sidebar">
        <img class="logo" src="/static/img/logo.png"/>
        <ul class="dokumen">
            <li class="dashboard2">
                <a class="list-hover" th:href="@{http://localhost:8081/himatika}">Dashboard</a>
            </li>

            <li class="anggota">
                <a class="list-hover" th:href="@{http://localhost:8080/himatika/anggota}">Anggota</a>
            </li>

            <li class="workshop mb-1">
                <a class="list-hover" th:href="@{http://localhost:8081/himatika/workshop}">Workshop</a>
                <div class="btnworkshop">
                    <button class="btn dropdown-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                    </button>
                </div>

                <div class="collapse" id="home-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a th:href="@{http://localhost:8081/himatika/proposal-workshop}" class="list-menu">Proposal</a>
                        </li>
                        <li>
                            <a th:href="@{http://localhost:8081/himatika/lpj-workshop}"
                               class="list-menu rounded">Lpj</a></li>
                        <li>
                            <a th:href="@{http://localhost:8081/himatika/dokumentasi}" class="list-menu">Dokumentasi</a>
                        </li>
                    </ul>
                </div>
            </li>

            <li class="peserta-workshop mb-1">
                <a class="list-hover">Peserta Workshop</a>
                <div class="btnworkshop">
                    <button class="btn dropdown-toggle align-items-center rounded collapsed"
                            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                    </button>
                </div>
                <div class="collapse" id="dashboard-collapse" style="">
                    <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                        <li>
                            <a th:href="@{http://localhost:8082/himatika/pendaftaran}" class="list-menu">Pendaftaran Peserta</a>
                        </li>
                        <li>
                            <a th:href="@{http://localhost:8082/himatika/absensi}" class="list-menu">Absensi Peserta</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>

        <div class="logout">
            <img class="logout-icon" src="/static/img/logout.png">
            <a class="logout2" th:href="@{http://localhost:8080/logout}">Logout</a>
        </div>
    </div>

    <div class="rectangle-1">
        <h1 class="input-proposal">Input Workshop</h1>
        <form th:action="@{/himatika/formWorkshop/input/upload}"
              th:object="${inputWorkshop}"
              method="post"
              class="form-proposal"
              enctype="multipart/form-data">
            <div class="form-input">
                <label for="judulWorkshop" class="text-label">Judul Workshop</label>
                <input id="judulWorkshop" th:value="*{judulWorkshop}" type="text" name="judulWorkshop"
                       th:errorClass="is-invalid"
                       class="input"
                       placeholder="Masukkan Judul Workshop">
                <p th:errors="${judulWorkshop}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('judulWorkshop')}"></p>
            </div>
            <div class="form-input">
                <label for="pembicara" class="text-label">Pembicara</label>
                <input id="pembicara" th:value="*{pembicara}" type="text" name="pembicara"
                       th:errorClass="is-invalid"
                       class="input"
                       placeholder="Masukkan Pembicara">
                <p th:errors="${pembicara}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('pembicara')}"></p>
            </div>
            <div class="form-input">
                <label for="tanggalWorkshop" class="text-label">Tanggal Workshop</label>
                <input id="tanggalWorkshop" th:value="*{tanggalWorkshop}" type="datetime-local" name="tanggalWorkshop"
                       th:errorClass="is-invalid"
                       class="input"
                       placeholder="Masukkan Tanggal Workshop">
                <p th:errors="${tanggalWorkshop}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('tanggalWorkshop')}"></p>
            </div>
            <div class="form-input">
                <label for="description" class="text-label">Description</label>
                <textarea id="description" th:value="*{description}" name="description"
                       th:errorClass="is-invalid"
                       class="input-description"
                       placeholder="Masukkan Description Workshop"></textarea>
                <p th:errors="${description}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('description')}"></p>
            </div>
            <div class="form-input">
                <label for="linkWhatsapp" class="text-label">Link Grup Workshop (Whatsapp)</label>
                <input id="linkWhatsapp" th:value="*{linkWhatsapp}" type="text" name="linkWhatsapp"
                          th:errorClass="is-invalid"
                          class="input"
                          placeholder="Masukkan Link Grup Workshop">
                <p th:errors="${linkWhatsapp}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('linkWhatsapp')}"></p>
            </div>
            <div class="form-input">
                <label for="poster" class="text-label">Poster</label>
                <input id="poster" th:value="*{poster}" type="file" name="poster"
                       th:errorClass="is-invalid"
                       class="input-file"
                       placeholder="Masukkan Poster">
                <p th:errors="${poster}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('poster')}"></p>
            </div>
            <div class="form-input">
                <input class="btn-submit"
                       type="submit" value="Upload">
            </div>
        </form>
    </div>
</div>
</body>
</html>
