<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Himatika</title>
    <link href="/static/css/himatika.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@800"/>
    <link rel="stylesheet" href="https://api.fontshare.com/css?f[]=nunito@800&display=swap"/>
    <script type="text/javascript" src="/static/js/himatika.js"></script>
</head>
<body>
<div class="dashboard">
    <div class="rectangle-7"></div>

    <div class="sidebar">

        <img class="logo" src="/static/img/logo.png"/>

        <ul class="dokumen">
            <li class="dashboard2">
                <a class="list-hover" th:href="@{http://localhost:8081/himatika}">Dashboard</a>
            </li>

            <li class="anggota">
                <a class="list-hover" th:href="@{http://localhost:8080/himatika/anggota}">Anggota</a>
            </li>

            <li class="workshop">
                <div>
                    <a class="list-hover" th:href="@{http://localhost:8081/himatika/workshop}">Workshop</a>
                </div>
                <ul class="list-workshop">
                    <li><a class="proposal-workshop" th:href="@{http://localhost:8081/himatika/proposal-workshop}">Proposal</a></li>
                    <li><a class="lpj-workshop" th:href="@{http://localhost:8081/himatika/lpj-workshop}">Lpj</a></li>
                    <li><a class="dokumentasi-workshop" th:href="@{http://localhost:8081/himatika/dokumentasi}">Dokumentasi</a></li>
                </ul>
            </li>

            <li class="peserta-workshop">
                <div>
                    <a class="list-hover">Peserta Workshop</a>
                </div>
                <ul class="list-peserta">
                    <li><a class="proposal-workshop" th:href="@{#}">Pendaftaran Peserta</a></li>
                    <li><a class="lpj-workshop" th:href="@{#}">Absensi Peserta</a></li>
                </ul>
            </li>

        </ul>

        <div class="logout">
            <img class="logout-icon" src="/static/img/logout.png">
            <a class="logout2" th:href="@{/logout}">Logout</a>
        </div>
    </div>

    <div class="total">
        <div class="total-peserta">
            <div class="rectangle-10"></div>

            <div class="total-peserta2">Total Peserta</div>

            <div class="laporan-bulanan">Laporan Bulanan</div>

            <div class="count">150</div>
        </div>

        <div class="total-workshop">
            <div class="rectangle-9"></div>

            <div class="total-workshop2">Total Workshop</div>

            <div class="laporan-bulanan2">Laporan Bulanan</div>

            <div class="count2">150</div>
        </div>
    </div>

    <div class="status-workshop">
        <div class="rectangle-11">
            <div class="noticeboard">Noticeboard</div>
            <div class="rectangle-27">
                <div class="line-1"></div>
                <div class="line-2"></div>
                <div class="line-3"></div>
                <table class="table-workshop">
                    <thead>
                    <tr>
                        <th scope="col" class="tanggal">Tanggal</th>
                        <th scope="col" class="workshop2">Workshop</th>
                        <th scope="col" class="status">Status</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row" th:each="w :${workshop}">
                        <td class="value-tanggal" th:text="${w.tanggalWorkshop}"></td>
                        <td class="value-workshop" th:text="${w.judulWorkshop}"></td>
                        <td class="value-status" th:text="${w.status}"></td>
                    </tr>
                    </tbody>
                </table>
                <button class="previous">previous</button>
                <button class="next">next</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>