<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Workshop</title>
    <link href="/static/css/list-workshop.css" rel="stylesheet"/>
    <link href="/static/css/bootstrap.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@500"/>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Nunito:wght@800"/>
    <link rel="stylesheet" href="https://api.fontshare.com/css?f[]=nunito@800&display=swap"/>
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <script type="text/javascript" src="/static/js/listWorkshop.js"></script>
    <script src="/static/js/bootstrap.bundle.min.js"></script>
</head>
<body class="page-workshop">
<nav class="navbar-page navbar-expand-lg navbar-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="navbar-items">
                    <a class="title-navbar" th:href="@{/}">BERANDA</a>
                </li>
                <li class="navbar-items">
                    <a class="title-navbar" th:href="@{/list-workshop}">WORKSHOP</a>
                </li>
                <li class="navbar-items dropdown">
                    <a class="title-navbar dropdown-toggle"  id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        FORM
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="title-navbar dropdown-item-customblue" th:href="@{/pendaftaran/formPendaftaran}">Pendaftaran Workshop</a></li>
                        <li><a class="title-navbar dropdown-item-customblue" th:href="@{/absensi/formAbsensi}">Absensi Workshop</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="body-workshop">
    <div class="text-label">LIST WORKSHOP</div>
    <div class="rectangle-1" th:each="w : ${workshop}">
        <div class="judul-workshop" th:text="${w.judulWorkshop}"></div>
        <img class="poster" th:src="@{/poster/show/{docName} (docName=${w.docName})}">
        <a class="cek-detail" th:href="@{/list-workshop/{judulWorkshop} (judulWorkshop=${w.judulWorkshop})}">Cek Detail</a>
    </div>

</div>
<footer class="footer-page">
    <img class="logo-footer" src="/static/img/logo.png"/>
    <div class="bagian">
        <div class="isi">Alamat</div>
        <div class="sub-alamat">Jl. Perbanas No.16, RT.16/RW.7, Karet Kuningan, Jakarta Selatan. (Ruang 2405)</div>
    </div>
    <div class="bagian">
        <div class="isi">Contact</div>
        <div class="sub-isi">WhatsApp:<br />081382683943 (Humas HIMATIKA)</div>
    </div>
    <div class="bagian">
        <div class="isi">Social Media</div>
        <div class="sosmed">
            <img class="icon" src="/static/img/instagram.png"/>
            <div class="sub-isi">himatikaperbanas</div>
        </div>
        <div class="sosmed">
            <img class="icon" src="/static/img/linkedin.png"/>
            <div class="sub-isi">HIMATIKA Perbanas Institute</div>
        </div>
        <div class="sosmed">
            <img class="icon" src="/static/img/email.png"/>
            <div class="sub-isi">himatika@perbanas.id</div>
        </div>
    </div>
</footer>
</body>
</html>