<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <title>Login</title>
</head>
<body>
<div class="login">
    <div class="rectangle-7">
        <img class="logo" src="/static/img/logo.png"/>
        <div class="selamat-datang">Selamat Datang!</div>
        <div class="masuk-sebagai-admin">Masuk sebagai anggota PSDM</div>
        <form th:action="@{/login}" method="post">
            <div class="nim">
                <div class="nim2">NIM</div>
                <input class="rectangle-11"
                       id="username" type="text" name="username" autocomplete="off"
                       placeholder="Masukkan Nim Anda">
            </div>

            <div class="password">
                <div class="password2">Password</div>
                <input class="rectangle-12"
                       id="password" type="password" name="password" autocomplete="off"
                       placeholder="********">
            </div>

            <div class="login2">
                <input class="rectangle-10"
                       type="submit" value="Masuk">
            </div>

        </form>
        <div class="belum-punya-akun-registrasi">
            Belum punya akun? <a href="/api/v1/registration/" class="belum-punya-akun-registrasi2">Registrasi</a>
        </div>
    </div>
</div>
</body>
</html>