<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="/static/css/registrasi.css">
    <link rel="icon" type="image/png" href="/static/img/logo.png"/>
    <title>Registration</title>
</head>
<body>
<div class="registrasi">
    <div class="rectangle-7">
        <img class="logo" src="/static/img/logo.png"/>
        <div class="registrasi2">Registrasi</div>
        <div class="buat-akun-anggota-psdm">Buat akun anggota PSDM</div>
<!--        <div th:if="${param.success}">-->
<!--            <div class="alert alert-info">-->
<!--                You have successfully registered our app!-->
<!--            </div>-->
<!--        </div>-->
        <form
                th:object="${user}"
                method="post">
            <div class="nama">
                <div class="nama-lengkap">Nama Lengkap</div>
                <input class="rectangle-112"
                       id="nama" th:value="*{nama}" type="text" name="nama"
                       th:errorClass="is-invalid"
                       placeholder="Masukkan Nama Lengkap Anda">
                <p th:errors="*{nama}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('nama')}"></p>
            </div>

            <div class="nim">
                <input class="rectangle-11"
                       id="nim" th:value="*{nim}" type="text" name="nim"
                       th:errorClass="is-invalid"
                       placeholder="Masukkan Nim Anda">
                <div class="nim2">NIM</div>
                <p th:errors="*{nim}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('nim')}"></p>
            </div>

            <div class="password">
                <div class="password2">Password</div>
                <input class="rectangle-124"
                       id="password" th:value="*{password}" type="password" name="password"
                       th:errorClass="is-invalid"
                       placeholder="********">
                <p th:errors="*{password}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('password')}"></p>
            </div>

            <div class="tahun-kepengurusan">
                <div class="tahun-kepengurusan2">Tahun Kepengurusan</div>
                <input class="rectangle-123"
                       id="thnKepengurusan" th:value="*{thnKepengurusan}" type="text" name="thnKepengurusan"
                       th:errorClass="is-invalid"
                       placeholder=" e.g 2019-2020">
                <p th:errors="*{thnKepengurusan}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('thnKepengurusan')}"></p>
            </div>

            <div class="no-telepon">
                <input class="rectangle-125"
                       id="noTelepon" th:value="*{noTelepon}" type="text" name="noTelepon"
                       th:errorClass="is-invalid"
                       placeholder="Masukkan Nomor Telepon Anda">
                <div class="no-telepon2">No. Telepon</div>
                <p th:errors="*{noTelepon}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('noTelepon')}"></p>
            </div>

            <div class="divisi">
                <div class="divisi2">Divisi</div>
                <select class="rectangle-12"
                        id="divisi" th:value="*{divisi}" name="divisi"
                        th:errorClass="is-invalid"
                        placeholder="Pilih Divisi Anda">
                    <option value="" disabled selected>Pilih Divisi Anda</option>
                    <option value="PSDM">PSDM</option>
                    <option value="Ristek">Ristek</option>
                    <option value="Humas">Humas</option>
                </select>
                <p th:errors="*{divisi}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('divisi')}"></p>
            </div>

            <div class="jabatan">
                <div class="jabatan2">Jabatan</div>
                <select class="rectangle-122"
                        id="jabatan" th:value="*{jabatan}" name="jabatan"
                        th:errorClass="is-invalid"
                        placeholder="Pilih Jabatan Anda">
                    <option value="" disabled selected>Pilih Jabatan Anda</option>
                    <option value="Koordinator">Koordinator</option>
                    <option value="Staff">Staff</option>
                </select>
                <p th:errors="*{jabatan}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('jabatan')}"></p>
            </div>

            <div class="email">
                <div class="email2">Email</div>
                <input class="rectangle-121"
                       id="email" th:value="*{email}" type="email" name="email"
                       th:errorClass="is-invalid"
                       placeholder="Masukkan Email Perbanas">
                <p th:errors="*{email}" class="invalid-feedback"
                   th:if="${#fields.hasErrors('email')}"></p>
            </div>

            <div class="button-buat-akun">
                <input class="rectangle-10" type="submit" value="BUAT AKUN">
            </div>
        </form>
        <div class="sudah-punya-akun-masuk">
            Sudah Punya Akun? <a href="/login" class="sudah-punya-akun-masuk2">Masuk</a>
        </div>
    </div>
</div>
</body>
</html>